<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]>      <html class="no-js" lang="en"> <![endif]-->
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="https://s3.amazonaws.com/static.texastribune.org/common/images/favicon.ico">
  <title>The Texas Tribune: Politics of Prevention</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="The Texas Tribune"/>
  <meta name="copyright" content="&copy; The Texas Tribune"/>
  <meta name="language" content="EN"/>
  <meta name="audience" content="All"/>
  <meta name="publisher" content="The Texas Tribune"/>
  <meta name="distribution" content="global"/>
  <meta name="robots" content="index,follow"/>
  <meta name="siteinfo" content="robots.txt"/>
  <meta name="description" content="The Politics of Prevention: An occasional series on the impact of state politics on Texas women's access to health care.">
  <meta property="og:site_name" content="The Texas Tribune">
  <meta property="og:description" content="The Politics of Prevention: An occasional series on the impact of state politics on Texas women's access to health care.">
  <meta property="og:title" content="The Texas Tribune: Politics of Prevention">
  <meta property="og:url" content="http://apps.texastribune.org/hurting-for-work/">
  <meta property="og:image" content="http://s3.amazonaws.com/static.texastribune.org/media/images/2013/12/10/Prevention-Clinic-3_jpg_635x1000_q100.jpg">
  <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css ../styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- build:css(.tmp) ../styles/main.css -->
    <link rel="stylesheet" href="../styles/app.css">
    <!-- endbuild -->
    <script>

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9827490-1']);
      _gaq.push(['_setDomainName', 'texastribune.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body ontouchstart="">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<div class="container">
  <header class="masthead">
    <div class="branding">
      <a href="http://www.texastribune.org/">
        <img class="trib-logo" alt="The Texas Tribune" src="//s3.amazonaws.com/apps.texastribune.org/branding/TxTrib-logo-white500x55.png">
      </a>
    </div>
  </header>
  <div class="banner-wrapper">
    <div class="banner">
      <div class="grand-header-image"></div>
      <header class="grand-header content-block">
        <h1><a href="/">The Politics of Prevention</a></h1>
        <h2>An occasional series on the effects of state policies on Texas women's health care.</h2>
            <!-- Static navigation bar -->
          <div id="nav-bar" class="nav-bar">
            <ul>
              <li class="selected">
                <a href="/politics-of-prevention/new-limits-more-money">
                  <div class="nav-link">
                    New Limits, More Money
                  </div>
                </a>
              </li>
              <li>
                <a href="/politics-of-prevention/little-evidence">
                  <div class="nav-link">
                    Little Evidence
                  </div>
                </a>
              </li>
              <li>
                <a href="/politics-of-prevention/a-political-gamble">
                  <div class="nav-link">
                    A Political Gamble
                  </div>
                </a>
              </li>
              <li>
                <a href="/politics-of-prevention">
                  <div class="nav-link">
                    What's Next
                  </div>
                </a>
              </li>
            </ul>
          </div>
      </header>
    </div>
  </div>
  <!-- Main body -->
  <div class="story-wrapper">
    <!-- Story Body -->
    <div class="story-container">
      <h1>Claims Drop Under State-Run Women's Health Program</h1>
      <p class="byline">By <a href="http://www.texastribune.org/about/staff/becca-aaronson/">Becca Aaronson</a> | December 13, 2013</p>
      <div class="prose">
        <!-- "prose" sets 8-column width on desktop -->
        <div class="shareline">
          <h3>SHARELINES</h3>
          <ul>
            <li>
              <a href="https://twitter.com/home?status=What%20politicians%20don't%20say%20about%20TX%20Miracle:%20TX%20leads%20in%20worker%20fatalities%20and%20workers%20have%20few%20protections.%20http://trib.it/1q5Y4Vr" title="share on Twitter" class="social-share" target="_blank">
              <i class="fa fa-twitter"></i>
              </a>
              <a href="http://www.facebook.com/sharer.php?u=http%3A//trib.it/1q5Y4Vr" title="share on Facebook" class="social-share" target="_blank">
              <i class="fa fa-facebook"></i>
              </a>
              <p>The Politics of Prevention: How Texas politics have impacted women's access to care.</p>
            </li>
            <li>
              <a href="https://twitter.com/home?status=For%20many%20injured%20Texas%20workers,%20the%20promised%20benefits%20of%20workers%E2%80%99%20comp%20never%20materialize.%20http://trib.it/1q5Y4Vr" title="share on Twitter" class="social-share" target="_blank">
              <i class="fa fa-twitter"></i>
              </a>
              <a href="http://www.facebook.com/sharer.php?u=http%3A//trib.it/1q5Y4Vr" title="share on Facebook" class="social-share" target="_blank">
              <i class="fa fa-facebook"></i>
              </a>
              <p>Check out Texas Tribune's series on how state politics have impacted women's access to health care.</p>
            </li>
          </ul>
        </div>
        <p>To stop Planned Parenthood clinics from receiving public financing, Texas&rsquo; Republican leaders gambled that the state could operate a contraception and cancer-screening program for low-income women without tens of millions of federal dollars.</p>
        <p>But with the exclusion of roughly&nbsp;</span><span>40 Planned Parenthood clinics, none of which performed abortions, from the program in 2013, records show claims for birth control and wellness exams dropped, as did enrollment numbers. </p>
        <p>State health officials relaunched the Medicaid Women&rsquo;s Health Program as the Texas Woman&rsquo;s Health Program in January after the federal government discontinued its $9-to-$1 match for the program &mdash;&nbsp;a decision the Obama administration made when state lawmakers began enforcing rules they said excluded clinics even loosely affiliated with abortion providers from receiving taxpayer dollars. (By law, none of the providers in the program performed abortions.) </p>
      </div>
              <!-- Media: Big image LEFT; Small block quote RIGHT; -->
      <div class="media">
        <!-- Image -->
        <div class="big-block">
          <img src="http://apps.texastribune.org/politics-of-prevention/images/Prevention-short-3.jpg" alt="Nicole Griffis, nurse practitioner, consults with a patient at a Planned Parenthood clinic in Austin, Texas. Photo by Tamir Kalifa.">
          <p class="caption">Nicole Griffis, nurse practitioner, consults with a patient at a Planned Parenthood clinic in Austin, Texas. Photo by Tamir Kalifa.</p>
        </div>
        <!-- Block quote -->
        <div class="small-block block-text">
          <div>
            <h2 class="left">&ldquo;There can still be some pockets where we don&rsquo;t have a provider and we did before.&rdquo;</h2>
            <p>&mdash; Dr. Kyle Janek, Texas Health and Human Services Commissioner</p>
          </div>
        </div>
      </div>
      <div class="prose">        
        <p>The new state-financed program got off to a rocky start. In some parts of Texas, the state&rsquo;s health agency struggled to find providers to replace Planned Parenthood clinics, which provided 40 percent of Women&rsquo;s Health Program services in 2012.</p>
        <p>&ldquo;There can still be some pockets where we don&rsquo;t have a provider and we did before,&rdquo; Texas Health and Human Services Commissioner Kyle Janek said. "Planned Parenthood may have been the only game in that area.&rdquo;</p>
        <p>During the first six months of 2013, there were 38 percent fewer reimbursement claims for birth control than there were during the first six months of 2012, according to a Texas Tribune analysis of data provided by the Texas Health and Human Services Commission. The number of wellness exams, meanwhile, decreased by 23 percent. Program enrollment figures have also declined, down from 127,000 in January 2012 to 110,900 in May, the most recent month available.</p>
        <p>Cecile Richards, president of the Planned Parenthood Federation of America and daughter of the late Texas Gov. Ann Richards, called the figures &ldquo;troubling.&rdquo; </p>
        <p>&ldquo;Despite all the promises from state officials that women&rsquo;s health care needs would be met,&rdquo; she said, &ldquo;it&rsquo;s clear they aren&rsquo;t.&rdquo;</p>
        <p>But Janek argued that the claims numbers are misleading. He said the birth control distributed by the program has not declined as much as initial claims data suggest, because the majority of providers who replaced Planned Parenthood clinics are physician groups that direct patients to pharmacies for prescriptions, rather than distributing it onsite like family planning clinics. The program&rsquo;s pharmacy data for 2013 is not complete, and the state could not provide additional information on how many birth control prescriptions were filled.</p>
        <div id="interactive-hook">
          <dl class="altered-select-item">
            <dt>Select County</dt>
          </dl>
          <select id="county-select" class="option-select">
            <option value="statewide">Statewide</option>
          </select>
        </div>
        <div>
          <p class="data-subheader">Number of Women's Health Program Providers</p>
          <table>
            <thead>
              <tr>
                <th class="chart-legend-2012" data-title="2012">2012</th>
                <th class="chart-legend-2013" data-title="2013">2013</th>
              </tr>
            </thead>
          <tbody id="table-data-providers"></tbody>
          </table>
        </div>
      </div>
            <!-- Media: Small block LEFT; Big block RIGHT -->
      <div class="media">
        <!-- Chart -->
        <div class="big-block">
          <div>
            <p class="data-subheader">Number of Claims, January to June</p>
            <div id="canvas-hook" class="chart"></div>
            <p><em>Graphic by <a href="http://www.texastribune.org/about/staff/ryan-murphy/">Ryan Murphy</a></em></p>
          </div>
        </div>
        <!-- Graphic Tables-->
        <div class="small-block">
          <div>
            <table>
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th class="chart-legend-2012" data-title="2012">2012</th>
                  <th class="chart-legend-2013" data-title="2013">2013</th>
                </tr>
              </thead>
            <tbody id="table-data"></tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="prose">        
        <p>&ldquo;We think when you add all those up for birth control, both those delivered at the pharmacy and those given by the provider&rsquo;s office, we&rsquo;ve got an increase, not a decrease,&rdquo; Janek said. </p>
        <p>Women&rsquo;s Health Program claims for long-acting, reversible birth control methods like intra-uterine devices and hormonal implants, which must be inserted by the provider onsite, declined by 17 percent in the same time period. Janek said that was the result of the state not paying providers enough to cover the procedure, something health officials have rectified by raising reimbursement rates for copper IUDs by $200 and hormonal implants by $75.</p>
        <p> &ldquo;We&rsquo;ve changed that, so I expect the second six months and thereafter will tell a different story,&rdquo; he said. </p>
        <p>Janek said that while he is happy with the state-run program&rsquo;s progress, he would not be satisfied &ldquo;until we do better.&rdquo; The state is conducting targeted outreach to encourage more women to enroll in the program; health officials say when they sent mailers in October and November to women whose families were registered for other state programs, enrollment promptly increased by more than 9,000 women.</p>
        <p>While Republican state leaders work to improve capacity in the state-run program, many family planning clinics have struggled. Seventy-six family planning clinics closed after the 2011 legislative session, when Republican lawmakers with Planned Parenthood in their crosshairs cut two-thirds of the state&rsquo;s family planning budget, set up a tiered system to shift remaining dollars away from reproductive health clinics and ousted Planned Parenthood and other clinics from the Women&rsquo;s Health Program.</p>
              <!-- Full-size block quote -->
        <div class="block-text">
          <h2>&ldquo;We&rsquo;re struggling now, but we&rsquo;d be out of business if the program closed completely, which would be devastating for this part of the state.&rdquo;</h2>
          <p>&mdash; Carolina Cogdill, chief executive officer of Haven Health Clinic</p>
        </div>
        <p>Haven Health Clinic in Amarillo, for example, the only family planning clinic that serves the 26 counties in the Texas Panhandle, saw a 20 percent decrease in Women&rsquo;s Health Program patients between 2012 and 2013. </p>
        <p>&ldquo;We&rsquo;re struggling now, but we&rsquo;d be out of business if the program closed completely, which would be devastating for this part of the state,&rdquo; said Carolina Cogdill, Haven&rsquo;s chief executive officer.</p>
        <p>Republican lawmakers attempted to mitigate the damage they had done to Texas&rsquo; family planning infrastructure in the 2013 legislative session by passing the largest financial package for women&rsquo;s health in state history. Texas&rsquo; 2014-15 budget includes $71 million to operate the Texas Women&rsquo;s Health Program, $100 million to expand a primary care program to serve an additional 170,000 women, and $43 million to replace family planning grants the federal government used to award to the state health agency &mdash;&nbsp;but has now given to another organization. </p>
        <p>But women&rsquo;s health advocates remain concerned that the damage wrought in 2011 cannot easily be undone.</p>
        <p>&ldquo;The Texas Women&rsquo;s Health Program has great potential, but it has not taken off in private practice yet,&rdquo; said Dr. Janet Realini, chair of the Texas Women&rsquo;s Healthcare Coalition, which represents 39 medical trade associations and advocacy groups. &ldquo;The providers who were doing most of that work have been either excluded or damaged by the cuts.&rdquo;</p>
        <p>Although some providers say a decline in Women&rsquo;s Health Program patients has put them in financial distress, others have easily absorbed new patients who previously received services from Planned Parenthood. </p>
      </div>
              <!-- Media: BIG IMAGE -->
      <div class="media">
        <img src="http://apps.texastribune.org/politics-of-prevention/images/Prevention-wide-4.jpg" alt="Texas Department of State Health Services holds public hearing on September 4th, 2012 to discuss a rule to exclude Planned Parenthood from the Medicaid Woman's Health Program. Photo by Marjorie Kamys Cotera.">
        <p class="caption">Texas Department of State Health Services holds public hearing on September 4th, 2012 to discuss a rule to exclude Planned Parenthood from the Medicaid Woman's Health Program. Photo by Marjorie Kamys Cotera.</p>
      </div>
      <div class="prose">
        <p>Parkland Health and Hospital System in the Dallas area</span><span> received 212 phone calls in January from former Planned Parenthood patients looking for a new Women&rsquo;s Health Program provider, said Paula Turicchi, Parkland&rsquo;s senior vice president for women and infants specialty health. So far in 2013, Parkland clinics have served 9,180 patients in the program, compared with 8,655 in 2012. </p>
        <p>&ldquo;We definitely saw a greater impact around those locations where Planned Parenthood had been a provider,&rdquo; Turicchi said.</p>
        <p>After the 2011 budget cuts, Parkland&rsquo;s annual family planning financing dropped to $2.1 million from $7.4 million, and it instituted a $25 co-payment for low-income family planning patients who used to be fully subsidized. Turicchi said 42 of 420 patients who canceled appointments in February 2012 because they couldn&rsquo;t afford the co-payment later returned pregnant.</p>
        <p>Parkland recently received $4.8 million through the state&rsquo;s newly expanded primary health care program to increase services for impoverished women in 2014. </p>
        <p>&ldquo;That&rsquo;s going to go a long way in providing even more health care services to patients,&rdquo; Turicchi said, adding that the program covers far more than just family planning.</p>
        <p><em>This story was produced with the support of the Dennis A. Hunt Fund for Health Journalism, a program of the USC Annenberg School of Journalism's California Endowment for Health Journalism Fellowships, and&nbsp;<em>in partnership with</em><em>&nbsp;</em><em><a href="http://www.kaiserhealthnews.org/">Kaiser Health News</a>, an editorially independent program of the Henry J. Kaiser Family Foundation, a nonprofit, nonpartisan health policy research and communication organization not affiliated with Kaiser Permanente. &nbsp;&nbsp;</em></em></p>
      </div>
      <div class="about">
          <h3>ABOUT</h3>
          <p class="about-desc">As a 2014 national fellow, Becca Aaronson spent a year investigating and reporting on the impact of state policies on Texas womens' access to public health programs across Texas with the support of the Dennis A. Hunt Fund for Health Journalism, a program of the USC Annenberg School of Journalism's California Endowment for Health Journalism Fellowships, and in collaboration with her Tribune colleagues, Alexa Ura and Ryan Murphy. This is a reproduction of some of those reports. Read the entire <a href="http://www.texastribune.org/series/politics-of-prevention/">Politics of Prevention</a> series, which was also produced in partnership with <a href="http://www.kaiserhealthnews.org/">Kaiser Health News</a>, an editorially independent program of the Henry J. Kaiser Family Foundation, a nonprofit, nonpartisan health policy research and communication organization not affiliated with Kaiser Permanente.</p>
          <h3>Contributors</h3>
          <ul>
            <li>
              <p><strong><a href="mailto:baaronson@texastribune.org">Becca Aaronson</a></strong></p>
              <p class="handle">Reporter, News Apps Developer | <a href="https://twitter.com/becca_aa" target="_blank">@becca_aa</a></p>
            </li>
            <li>
              <p><strong><a href="mailto:rmurphy@texastribune.org">Ryan Murphy</a></strong></p>
              <p class="handle">News Apps Team Lead | <a href="https://twitter.com/rdmurphy" target="_blank">@rdmurphy</a></p>
            </li>
            <li>
              <p><strong><a href="mailto:aura@texastribune.org">Alexa Ura</a></strong></p>
              <p class="handle">Reporter | <a href="https://twitter.com/alexazura" target="_blank">@alexazura</a></p>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
<div class="footer-container">
<div>
  <a href="https://twitter.com/newsapps"><img class="logo" src="//s3.amazonaws.com/apps.texastribune.org/branding/TxTrib-NewsApps-yellow.svg" alt="Texas Tribune News Apps logo, links to News Apps' Twitter account"></a>
</div>
<div>
  <ul>
    <li><a href="http://www.facebook.com/texastribune"><i class="icon fa-facebook-square"></i>Facebook</a></li>
    <li><a href="http://twitter.com/TexasTribune"><i class="icon fa-twitter-square"></i>Twitter</a></li>
    <li><a href="http://www.youtube.com/user/thetexastribune"><i class="icon fa-youtube-play"></i>YouTube</a></li>
    <li><a href="http://instagram.com/texas_tribune"><i class="icon fa-instagram"></i>Instagram</a></li>
    <li><a href="http://www.linkedin.com/company/texas-tribune"><i class="icon fa-linkedin-square"></i>LinkedIn</a></li>
  </ul>
</div>
<div class="internal-links">
  <ul>
  <li><a href="http://www.texastribune.org/about/">About Us</a></li>
  <li><a href="http://www.texastribune.org/support-us/donors-and-members/">Who Funds Us?</a></li>
  <li><a href="http://www.texastribune.org/terms-of-service/">Terms of Service</a></li>
  <li><a href="http://www.texastribune.org/ethics/">Code of Ethics</a></li>
  <li><a href="http://www.texastribune.org/privacy/">Privacy Policy</a></li>
  <li><a href="http://www.texastribune.org/corrections/">Corrections</a></li>
  <li><a href="https://www.texastribune.org/join/">Donate</a></li>
</ul>
</div>
<div class="donate">
  <ul>
    <li>Nonpartisan.</li>
    <li>Nonprofit.</li>
    <li>Statewide.</li>
    <a href="https://www.texastribune.org/join/"><li>Join Us</li></a>
  </ul>
</div>
</div>
</footer>
<script id="table-row-providers" type="text/template">
<tr>
    <td data-title="2012:"><%= commas(p12) %></td>
    <td data-title="2013:"><%= commas(p13) %></td>
  </tr>
// ]]></script>
<script id="table-row" type="text/template">// <![CDATA[
<tr>
    <td><%= type %></td>
    <td data-title="2012:"><%= commas(total2012) %></td>
    <td data-title="2013:"><%= commas(total2013) %></td>
  </tr>
// ]]></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/static.texastribune.org/data/twhp-interactive/data.js"></script>
<script src="../scripts/scriptThree.js"></script>
<!-- build:js ../scripts/main.js -->
<script src="../../bower_components/modernizr/modernizr.js"></script>
<script src="../scripts/jquery.fitvids.js"></script>
<script src="../scripts/script.js"></script>
<!-- endbuild -->
</body>
</html>
