<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]>      <html class="no-js" lang="en"> <![endif]-->
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="https://s3.amazonaws.com/static.texastribune.org/common/images/favicon.ico">
    <title>The Texas Tribune: Hurting for Work</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="The Texas Tribune"/>
    <meta name="copyright" content="&copy; The Texas Tribune"/>
    <meta name="language" content="EN"/>
    <meta name="audience" content="All"/>
    <meta name="publisher" content="The Texas Tribune"/>
<!--     <meta name="distribution" content="global"/> -->
<!-- <meta name="robots" content="index,follow"/>
<meta name="siteinfo" content="../robots.txt"/> -->
    <meta name="description" content="Tribinvestigates: How disdain for government regulation sparked a &ldquo;Texas miracle&rdquo; economy — while tearing down protections for the workers who built it.">
    <meta property="og:site_name" content="The Texas Tribune">
    <meta property="og:description" content="Tribinvestigates: How disdain for government regulation sparked a &ldquo;Texas miracle&rdquo; economy — while tearing down protections for the workers who built it.">
    <meta property="og:title" content="Hurting for Work: The Working Wounded">
    <meta property="og:url" content="http://apps.texastribune.org/hurting-for-work/the-working-wounded/">
    <meta property="og:image" content="http://apps.texastribune.org.s3.amazonaws.com/branding/og/TT-hurting-for-work-overview.jpg">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css ../styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../../bower_components/normalize-css/normalize.css" />
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.6.0/mapbox.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- endbower -->
    <!-- endbuild -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- build:css(.tmp) ../styles/main.css -->
    <link rel="stylesheet" href="../styles/app.css">
    <!-- endbuild -->
    <script>

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9827490-1']);
      _gaq.push(['_setDomainName', 'texastribune.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body ontouchstart="">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<div class="container">
  <header class="masthead">
    <div class="branding">
      <a href="http://www.texastribune.org/">
        <img class="trib-logo" alt="The Texas Tribune" src="//s3.amazonaws.com/apps.texastribune.org/branding/TxTrib-logo-white500x55.png">
      </a>
    </div>
  </header>
  <div class="banner-wrapper">
    <div class="banner">
      <div class="grand-header-image"></div>
      <header class="grand-header content-block">
        <h1><a href="/">The Politics of Prevention</a></h1>
        <h2>An in-depth look at the effects of state policies on Texas women's health care.</h2>
            <!-- Static navigation bar -->
          <div id="nav-bar" class="nav-bar">
            <ul>
              <li class="selected">
                <a href="/new-limits-more-money">
                  <div class="nav-link">
                    New Limits, More Money
                  </div>
                </a>
              </li>
              <li>
                <a href="/little-evidence">
                  <div class="nav-link">
                    Little Evidence
                  </div>
                </a>
              </li>
              <li>
                <a href="/a-political-gamble">
                  <div class="nav-link">
                    A Political Gamble
                  </div>
                </a>
              </li>
              <li>
                <a href="../">
                  <div class="nav-link">
                    What's Next
                  </div>
                </a>
              </li>
            </ul>
          </div>
      </header>
    </div>
  </div>
  <!-- Main body -->
  <div class="story-wrapper">
    <!-- Sticky nav -->
    <div id="nav-bar" class="nav-bar sticky nav-hide">
      <ul>
        <li class="selected">
          <a href="../disposable-workforce">
            <div class="nav-link">
              New Limits, More Money
            </div>
          </a>
        </li>
        <li>
          <a href="http://apps.texastribune.org/hurting-for-work/no-safety-net/">
            <div class="nav-link">
              Little Evidence
            </div>
          </a>
        </li>
        <li>
          <a href="http://apps.texastribune.org/hurting-for-work/a-twisted-system">
            <div class="nav-link">
              A Political Gamble
            </div>
          </a>
        </li>
        <li>
          <a href="http://apps.texastribune.org/hurting-for-work/the-working-wounded">
            <div class="nav-link">
              What's Next
            </div>
          </a>
        </li>
      </ul>
    </div>

    <!-- Story Body -->
    <div class="story-container">
      <h1>While Abortion Faces New Limits, Women's Health Gets a Financial Boost</h1>
      <p class="byline">By <a href="http://www.texastribune.org/about/staff/becca-aaronson/">Becca Aaronson</a> | August 9, 2013</p>
      <div class="prose">
        <!-- "prose" sets 8-column width on desktop -->
        <div class="shareline">
          <h3>SHARELINES</h3>
          <ul>
            <li>
              <a href="https://twitter.com/home?status=What%20politicians%20don't%20say%20about%20TX%20Miracle:%20TX%20leads%20in%20worker%20fatalities%20and%20workers%20have%20few%20protections.%20http://trib.it/1q5Y4Vr" title="share on Twitter" class="social-share" target="_blank">
              <i class="fa fa-twitter"></i>
              </a>
              <a href="http://www.facebook.com/sharer.php?u=http%3A//trib.it/1q5Y4Vr" title="share on Facebook" class="social-share" target="_blank">
              <i class="fa fa-facebook"></i>
              </a>
              <p>The Politics of Prevention: How Texas politics have impacted women's access to care.</p>
            </li>
            <li>
              <a href="https://twitter.com/home?status=For%20many%20injured%20Texas%20workers,%20the%20promised%20benefits%20of%20workers%E2%80%99%20comp%20never%20materialize.%20http://trib.it/1q5Y4Vr" title="share on Twitter" class="social-share" target="_blank">
              <i class="fa fa-twitter"></i>
              </a>
              <a href="http://www.facebook.com/sharer.php?u=http%3A//trib.it/1q5Y4Vr" title="share on Facebook" class="social-share" target="_blank">
              <i class="fa fa-facebook"></i>
              </a>
              <p>Check out @TexasTribune's series on how Texas politics have impacted women's access to health care.</p>
            </li>
          </ul>
        </div>
        <p>HOUSTON &mdash; When Anastasia Tolmasoff went to a Planned Parenthood clinic in March to receive her quarterly injection of Depo-Provera, she discovered she could no longer afford to receive birth control there.</p>
        <p>&ldquo;I&rsquo;m living paycheck to paycheck, so getting pregnant and having another child is not an option for me,&rdquo; said Tolmasoff, 33, who rehabilitates wildlife at a nonprofit organization. She and her husband cannot afford health insurance.</p>
        <p>Nearly six months later, she visited Legacy Community Health Services in Houston. The federally qualified health center&rsquo;s staff helped her enroll in the state-run <a title="" href="http://www.texaswomenshealth.org/">Texas Women&rsquo;s Health Program</a> to cover her injection.</p>
        <p>Tolmasoff is one of thousands of women affected by the Texas Legislature&rsquo;s 2011 decisions to drastically cut family planning financing and remove &ldquo;abortion affiliated providers&rdquo; &mdash; namely, Planned Parenthood &mdash; from state health programs.</p>
      </div>
              <!-- Media: BIG IMAGE -->
      <div class="media">
        <img src="http://placekitten.com/1088/500" alt="A sign at a construction area in Austin warns workers to wear protective gear. Photo by Callie Richmond.">
        <p class="caption">A sign at a construction area in Austin warns workers to wear protective gear. Photo by Callie Richmond.</p>
      </div>
      <div class="prose">
        <p>In its 2013 session, the Legislature sought to mitigate the impact of those cuts with the largest financial package for women&rsquo;s health services in state history, increasing spending to $214 million in the 2014-15 budget from $109 million.</p>
        <p>Still, women&rsquo;s health advocates have raised concerns that the financing does not go far enough. Moreover, some advocates argue that strict abortion regulations approved during a special session will create additional burdens on women already struggling to access contraception.</p>
        <p>&ldquo;If, in fact, they really don&rsquo;t want people to have abortions, then they should have ready access to family planning,&rdquo; said Katy Caldwell, chief executive of <a title="" href="http://www.tachc.org/">Legacy Community Health Services</a>. &ldquo;And they don&rsquo;t in the rural areas anymore, because so many clinics have had to shut down access to family planning.&rdquo;</p>
        <p>The 2011 cuts dramatically reduced the number of family planning providers in Texas. Seventy-six medical facilities &mdash; a third of which were Planned Parenthood clinics &mdash; have closed or stopped providing family planning services as a result of lost public financing, according to the latest provider survey conducted by the <a title="" href="http://www.utexas.edu/cola/orgs/txpep/">Texas Public Policy Evaluation Project</a>, a research initiative at the University of Texas at Austin. &nbsp;Although the researchers found that the state has enrolled at least 16 new family planning providers, they estimate that Texas&rsquo; investment in family planning services averted 30,000 fewer unintended pregnancies in 2012 than in 2010.</p>
        <p>To restore access to family planning services, Texas&rsquo; 2014-15 budget includes a $100 million expansion of a primary care program to provide services for an additional 170,000 women; $71 million to operate the Texas Women&rsquo;s Health Program; and $43 million to replace family planning grants that the federal government awarded to another organization to distribute.</p>
        <p>The state plans to spend 60 percent of the primary care expansion dollars on family planning services, expand the number of contracted providers to 100 from 57, and provide wraparound benefits, including prenatal and dental care for pregnant women, which are not covered by other public programs.</p>
      </div>
      <!-- Media: Small block quote LEFT; Big block image RIGHT -->
      <div class="media">
        <!-- Block Quote -->
        <div class="small-block block-text">
          <h2>&ldquo;We still don&rsquo;t have enough family planning dollars here in the state of Texas.&rdquo;</h2>
          <p>&mdash; Katy Caldwell, chief executive of Legacy Community Health Services</p>
        </div>
        <!-- Image -->
        <div class="big-block">
          <img src="http://placekitten.com/717/488" alt="A worker helps with construction of a building in Austin. Photo by Callie Richmond.">
          <p class="caption">Workers help with construction of a building in Austin. Photo by Todd Wiseman.</p>
        </div>
      </div>
      <div class="prose">
        <p>Caldwell said that although the primary care expansion would provide additional benefits to low-income women, its success depended on how the state allocates the money, particularly in rural areas where family planning clinics closed.</p>
        <p>&ldquo;I love the fact that this is more comprehensive than it was in the past,&rdquo; she said. But &ldquo;we still don&rsquo;t have enough family planning dollars here in the state of Texas,&rdquo; she added.</p>
        <p>The 2014-15 budget will meet only a third of the need for subsidized family planning services in Texas, according to the <a title="" href="http://www.texaswhc.org/">Texas Women&rsquo;s Health Coalition</a>, which represents 39 medical trade associations and advocacy groups.</p>
        <p>Although the coalition advocated for the expanded primary care program in the 2013 session, it has since <a href="http://www.texastribune.org/2013/08/01/coalition-raises-concerns-state-plan-restore-women/">raised concerns</a> that the Department of State Health Services has not set up the program to effectively prioritize family planning services.</p>
        <p>&ldquo;The bottom line for us is we want the women to be able to get the services,&rdquo; said Dr. Janet Realini, the coalition&rsquo;s chairwoman. She added, &ldquo;There&rsquo;s an advantage to guiding that money to the family planning, that preventive care piece, because that&rsquo;s where the cost savings occur.&rdquo;</p>        
        <p>In a letter to the coalition, Dr. David Lakey, the health services commissioner, countered that the agency had made family planning services a priority and held nine informal meetings for feedback on the program&rsquo;s expansion.</p>
        <p>The department set the 60 percent target for family planning services, he wrote, &ldquo;and we intend to meet that target and carry out the program as directed by the Legislature, as we have been doing all along.&rdquo;</p>
      </div>
      <div class="media">
        <div id="interactive-hook" class="grid select-box-row">        
        <div class="big-block">
          <div id="map" class="map"></div>
        </div>
          <div class="small-block left">
            <div class='legend' id='legend'>
              <div class='legend-title'>Number of women expected to receive primary care services in 2014</div>
                      <ul class='legend-labels'>
                         <li>
                           <div style='background-color:rgb(237,248,251);'></div>
                        </li>
                          <li>
                            <div style='background-color:rgb(179,205,227);'></div>
                            <p>4,000</p>
                        </li>
                          <li>
                            <div style='background-color:rgb(140,150,198);'></div>
                            <p>8,000</p>
                        </li>
                          <li>
                            <div style='background-color:rgb(136,86,167);'></div>
                            <p>16,000</p>
                        </li>
                          <li>
                            <div style='background-color:rgb(129,15,124);'></div>
                            <p>32,000</p>
                        </li>
                      </ul>
              <div class='legend-subtitle'>Percent of anticipated clients expected to receive family planning services: 59 to 70 percent</div>
              </div> 
              <dl class="altered-select-item">
                <dt>Select Region</dt>
              </dl>
              <select id="region-select" class="option-select">
                <option value="-">-</option>
             </select>
              <div class="region-table">
                <table class="tt-table striped borders condensed">
                <tbody id="table-data-totals"></tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
      <div class="prose">
        <p><em>This interactive was originally published on January 14, 2014. Visit the <a href="http://www.texastribune.org/library/data/expanded-primary-health-care-awards-region/">full version</a> to see exact contract amounts awarded per region.</p>
        <p>Texas also plans to enact regulations in late October that would ban abortions at 20 weeks post-fertilization and mandate physicians performing an abortion to have hospital admitting privileges within 30 miles of the facility. The law will also require abortions to be performed in ambulatory surgical centers beginning in September 2014. Gov. <a href="http://www.texastribune.org/directory/rick-perry/">Rick Perry</a> and other proponents say the regulations will improve patient safety.</p>
        <p>At least 36 of the 42 licensed abortion facilities in Texas do not meet the new regulatory standards because they are not ambulatory surgical centers. It is unclear how many of the six ambulatory surgical centers have a physician on staff with hospital admitting privileges within 30 miles of the facility.</p>
        <p>The facilities that do not meet those standards are evaluating whether they would have to close under the law.</p>
        <p>&ldquo;It remains to be seen if I can keep my facilities open,&rdquo; said Amy Hagstrom Miller, chief executive of <a title="" href="http://wholewomanshealth.com/">Whole Woman&rsquo;s Health</a>, which operates five licensed abortion facilities in Texas. Although only one of those facilities meets the ambulatory surgical center requirements, she said, the hospital privileges requirement could pose an even greater burden because it is outside the control of the abortion facilities.</p>
        <!-- Block quote -->
        <div class="block-text">
          <div>
            <h2 class="left">&ldquo;It&rsquo;s heartbreaking, because women who need to end a pregnancy after 16 weeks are often in some of the most extreme circumstances.&rdquo;</h2>
            <p>&mdash; Melaney Linton, president and chief executive officer of Planned Parenthood Gulf Coast</p>
          </div>
        </div>
        <p>Many hospitals have rules that could prohibit them from granting privileges to doctors who perform abortions. Hagstrom Miller said hospital administrators have expressed concern that Texas could ban a hospital from participating in other state programs if it granted privileges to such doctors.</p>
        <p>Opponents of the abortion law say that it would take most providers more than a year to build ambulatory surgical centers to perform abortions.</p>
        <p>&ldquo;You can&rsquo;t just do a few renovations and convert a facility that is already existing,&rdquo; said Melaney Linton, president and chief executive officer of <a title="" href="http://www.plannedparenthood.org/gulf-coast/">Planned Parenthood Gulf Coast</a>, which serves parts of East Texas and Louisiana.</p>
        <p>After Texas approved a law in 2003 requiring abortions 16 weeks after fertilization to be performed in ambulatory surgical centers, Planned Parenthood Gulf Coast determined it would cost in the seven figures to retrofit its main facility in Houston. It took the organization six years to raise financing and build the Houston ambulatory surgical center it operates.</p>
        <p>&ldquo;For six years we could not provide women who need that service that care,&rdquo; Linton said. &ldquo;It&rsquo;s heartbreaking, because women who need to end a pregnancy after 16 weeks are often in some of the most extreme circumstances.&rdquo;</p>
        <p>Tolmasoff said her experience has motivated her to become more politically active.</p>
        <p>&ldquo;You want to tune the politics out,&rdquo; she said, &ldquo;but when they really start affecting you, you have to listen.&rdquo;</p>
      </div>
      <div class="about">
          <h3>ABOUT</h3>
          <p class="about-desc">As a 2014 national fellow, Becca Aaronson spent a year investigating and reporting on the impact of state policies on Texas womens' access to public health programs across Texas with the support of the Dennis A. Hunt Fund for Health Journalism, a program of the USC Annenberg School of Journalism's California Endowment for Health Journalism Fellowships, and in collaboration with her Tribune colleagues, Alexa Ura and Ryan Murphy. This is a reproduction of some of those reports. Read the entire <a href="http://www.texastribune.org/series/politics-of-prevention/">Politics of Prevention</a> series, which was also produced in partnership with <a href="http://www.kaiserhealthnews.org/">Kaiser Health News</a>, an editorially independent program of the Henry J. Kaiser Family Foundation, a nonprofit, nonpartisan health policy research and communication organization not affiliated with Kaiser Permanente.</p>
          <h3>Contributors</h3>
          <ul>
            <li>
              <p><strong><a href="mailto:baaronson@texastribune.org">Becca Aaronson</a></strong></p>
              <p class="handle">Reporter, News Apps Developer | <a href="https://twitter.com/becca_aa" target="_blank">@becca_aa</a></p>
            </li>
            <li>
              <p><strong><a href="mailto:rmurphy@texastribune.org">Ryan Murphy</a></strong></p>
              <p class="handle">News Apps Team Lead | <a href="https://twitter.com/rdmurphy" target="_blank">@rdmurphy</a></p>
            </li>
            <li>
              <p><strong><a href="mailto:aura@texastribune.org">Alexa Ura</a></strong></p>
              <p class="handle">Reporter | <a href="https://twitter.com/alexazura" target="_blank">@alexazura</a></p>
            </li>
          </ul>
      </div>
  </div>
</div>
<footer class="footer">
<div class="footer-container">
<div>
  <a href="https://twitter.com/newsapps"><img class="logo" src="//s3.amazonaws.com/apps.texastribune.org/branding/TxTrib-NewsApps-yellow.svg" alt="Texas Tribune News Apps logo, links to News Apps' Twitter account"></a>
</div>
<div>
  <ul>
    <li><a href="http://www.facebook.com/texastribune"><i class="icon fa-facebook-square"></i>Facebook</a></li>
    <li><a href="http://twitter.com/TexasTribune"><i class="icon fa-twitter-square"></i>Twitter</a></li>
    <li><a href="http://www.youtube.com/user/thetexastribune"><i class="icon fa-youtube-play"></i>YouTube</a></li>
    <li><a href="http://instagram.com/texas_tribune"><i class="icon fa-instagram"></i>Instagram</a></li>
    <li><a href="http://www.linkedin.com/company/texas-tribune"><i class="icon fa-linkedin-square"></i>LinkedIn</a></li>
  </ul>
</div>
<div class="internal-links">
  <ul>
  <li><a href="http://www.texastribune.org/about/">About Us</a></li>
  <li><a href="http://www.texastribune.org/support-us/donors-and-members/">Who Funds Us?</a></li>
  <li><a href="http://www.texastribune.org/terms-of-service/">Terms of Service</a></li>
  <li><a href="http://www.texastribune.org/ethics/">Code of Ethics</a></li>
  <li><a href="http://www.texastribune.org/privacy/">Privacy Policy</a></li>
  <li><a href="http://www.texastribune.org/corrections/">Corrections</a></li>
  <li><a href="https://www.texastribune.org/join/">Donate</a></li>
</ul>
</div>
<div class="donate">
  <ul>
    <li>Nonpartisan.</li>
    <li>Nonprofit.</li>
    <li>Statewide.</li>
    <a href="https://www.texastribune.org/join/"><li>Join Us</li></a>
  </ul>
</div>
</div>
</footer>
<script id="table-row-totals" type="text/template">
  <tr>
    <th class="chart-legend-2013">Total Awarded</th><td>$<%= commas(Award) %></td>
  </tr>
  <tr>  
    <th class="chart-legend-2012">Total Anticipated Clients</th><td><%= commas(TotC) %></td>
  </tr>
  <tr>
    <th class="chart-legend-2013">Percent of Clients Expected to Receive Family Planning</th><td><%= PctFP %>%</td>
  </tr>
    <tr>
    <th class="chart-legend-2013">Anticipated Family Planning Clients</th><td><%= NumFPS  %></td>
  </tr>
</script>
<script id="table-row-contracts" type="text/template">
  <tr>
    <td><%= Name %></td>
    <td>$<%= commas(Award) %></td>
    <td><%= commas(TotC) %></td>
    <td><%= PctFP %>%</td>
    <td><%= commas(NumFP) %></td>
  </tr>
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- build:js ../scripts/main.js -->
<script src="../../bower_components/modernizr/modernizr.js"></script>
<script src="../scripts/jquery.fitvids.js"></script>
<script src="../scripts/jquery.flexslider.js"></script>
<script src="../scripts/script.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

 <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
<script src='http://api.tiles.mapbox.com/mapbox.js/v1.6.0/mapbox.js'></script>
<script type="text/javascript" src="http://static.texastribune.org.s3.amazonaws.com/data/health/ephc/data.js"></script>
<script type="text/javascript" src="http://static.texastribune.org.s3.amazonaws.com/data/health/ephc/regiondata.js"></script>
<script src="script.js" type="text/javascript"></script>
<!-- endbuild -->
</body>
</html>
