<!doctype html>
<!--[if lt IE 7]>    <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>     <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>     <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>     <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]>    <html class="no-js" lang="en"> <![endif]-->
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="https://s3.amazonaws.com/static.texastribune.org/common/images/favicon.ico">
  <title>The Texas Tribune: Politics of Prevention</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="The Texas Tribune"/>
  <meta name="copyright" content="&copy; The Texas Tribune"/>
  <meta name="language" content="EN"/>
  <meta name="audience" content="All"/>
  <meta name="publisher" content="The Texas Tribune"/>
  <meta name="distribution" content="global"/>
  <meta name="robots" content="index,follow"/>
  <meta name="siteinfo" content="robots.txt"/>
  <meta name="description" content="The Politics of Prevention: An occasional series on the impact of state politics on Texas women's access to health care.">
  <meta property="og:site_name" content="The Texas Tribune">
  <meta property="og:description" content="The Politics of Prevention: An occasional series on the impact of state politics on Texas women's access to health care.">
  <meta property="og:title" content="The Texas Tribune: Politics of Prevention">
  <meta property="og:url" content="http://apps.texastribune.org/politics-of-prevention/">
  <meta property="og:image" content="http://s3.amazonaws.com/static.texastribune.org/media/images/2014/07/18/PoliticsOfPrevention-hallway.jpg">
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/app.css">
  <link rel="stylesheet" type="text/css" href="new-limits-more-money/style.css">
  <!-- endbuild -->
  <script>

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9827490-1']);
    _gaq.push(['_setDomainName', 'texastribune.org']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body ontouchstart="">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
<div class="container">
  <header class="masthead">
    <div class="branding">
      <a href="http://www.texastribune.org/">
        <img class="trib-logo" alt="The Texas Tribune" src="//s3.amazonaws.com/apps.texastribune.org/branding/TxTrib-logo-white500x55.png">
      </a>
    </div>
  </header>
  <div class="banner-wrapper">
    <div class="banner">
      <div class="grand-header-image"></div>
      <header class="grand-header content-block">
        <h1><a href="/">The Politics of Prevention</a></h1>
        <h2>An occasional series on the effects of state policies on Texas women's health care.</h2>
            <!-- Static navigation bar -->
          <div id="nav-bar" class="nav-bar">
            <ul>
              <li>
                <a href="/politics-of-prevention/new-limits-more-money">
                  <div class="nav-link">
                    New Limits, More Money
                  </div>
                </a>
              </li>
              <li>
                <a href="/politics-of-prevention/little-danger-at-clinics">
                  <div class="nav-link">
                    Little Danger at Clinics
                  </div>
                </a>
              </li>
              <li>
                <a href="/politics-of-prevention/falling-claims">
                  <div class="nav-link">
                    Falling Claims
                  </div>
                </a>
              </li>
              <li class="selected">
                <a href="/politics-of-prevention">
                  <div class="nav-link">
                    More Changes Ahead
                  </div>
                </a>
              </li>
            </ul>
          </div>
      </header>
    </div>
  </div>
  <!-- Main body -->
  <div class="story-wrapper">
    <!-- Story Body -->
    <div class="story-container">
      <h1>Headline Goes Here</h1>
      <p class="byline">By <a href="http://www.texastribune.org/about/staff/alexa-ura/">Alexa Ura</a> | July 20, 2014</p>
      <div class="prose">
        <!-- "prose" sets 8-column width on desktop -->
        <div class="shareline">
          <h3>SHARELINES</h3>
          <ul>
            <li>
              <a href="https://twitter.com/home?status=The%20Politics%20of%20Prevention:%20How%20Texas%20lawmakers%20have%20changed%20women's%20access%20to%20care%20http%3A//trib.it/1p0ZgHb" title="share on Twitter" class="social-share" target="_blank">
              <i class="fa fa-twitter"></i>
              </a>
              <a href="http://www.facebook.com/sharer.php?u=http%3A//trib.it/1p0ZgHb" title="share on Facebook" class="social-share" target="_blank">
              <i class="fa fa-facebook"></i>
              </a>
              <p>The Politics of Prevention: How Texas lawmakers have changed women's access to care
              </p>
            </li>
            <li>
              <a href="https://twitter.com/home?status=Check%20out%20@TexasTribune's%20series%20on%20how%20state%20politics%20have%20affected%20women's%20access%20to%20care%20in%20Texas%20http%3A//trib.it/1p0ZgHb" title="share on Twitter" class="social-share" target="_blank">
              <i class="fa fa-twitter"></i>
              </a>
              <a href="http://www.facebook.com/sharer.php?u=http%3A//trib.it/1p0ZgHb" title="share on Facebook" class="social-share" target="_blank">
              <i class="fa fa-facebook"></i>
              </a>
              <p>Check out Texas Tribune's series on how state politics have affected women's access to care in Texas</p>
            </li>
          </ul>
        </div>
        <p>The Republican-led state Legislature&rsquo;s decisions in 2011 to slash two-thirds of Texas&rsquo; family planning budget and reject a federally financed women&rsquo;s health program in favor of their own were widely seen as political gambles to keep Planned Parenthood clinics from receiving taxpayer dollars.</p>
        <p>Three years later, Planned Parenthood is no longer a state provider, and the budget cuts have been restored by way of new programs focused less specifically on reproductive health and more broadly on women&rsquo;s health care. </p>
        <p>Now, lawmakers are looking for ways to consolidate those programs in an effort to improve access to family planning, cancer screenings and dozens of other women&rsquo;s health services for the state&rsquo;s poorest women. </p>
      </div>
              <!-- Media: BIG IMAGE -->
      <div class="media">
        <h3>Compare Accessibility and Services Available through Texas' Women's Health Programs</h3>
        <p>This interactive shows the number of providers participating in six state programs that primarily provide women's health services. Select different programs from the drop-down menu and check out the corresponding map to see the number of women enrolled, annual funding, eligibility requirements and some of the services available through that program.</p>
        <div class="big-block">
          <div id='map'></div>
          <p><em>Interactive graphic by Becca Aaronson</em></p>
        </div>
        <div class="small-block left">
          <div class='legend' id='legend'>
            <p class='data-subheader'>Number of participating health care providers</p>
            <ul class='legend-labels'>
               <li>
                 <div style='background-color:rgb(240,249,232);'></div>
              </li>
                <li>
                  <div style='background-color:rgb(186,228,188);'></div>
                  <p>1</p>
              </li>
                <li>
                  <div style='background-color:rgb(123,204,196);'></div>
                  <p>5</p>
              </li>
                <li>
                  <div style='background-color:rgb(67,162,202);'></div>
                  <p>10</p>
              </li>
                <li>
                  <div style='background-color:rgb(8,104,172);'></div>
                  <p>25</p>
              </li>
            </ul>
          </div>
          <select id="option-select" class="option-select">
            <option value="ephc">Expanded Primary Health Care Program</option>
            <option value="twhp">Texas Women's Health Program</option>
            <option value="fp">DSHS Family Planning Program</option>
            <option value="bccs">DSHS Breast and Cervical Cancer Screening Program</option>
            <option value="tvpd">Title V - Prenatal Dental Services</option>
            <option value="tvpm">Title V - Prenatal Medical Services</option>
          </select>
          <table>
            <tbody id="target"></tbody>
          </table>
        </div>
      </div>
      <div class="prose">
        <p>&ldquo;We&rsquo;ve got several different programs with different names, different benefits, different eligibility guidelines that I know have to be confusing to women out there because they&rsquo;re confusing to me,&rdquo; Republican State Senator Jane Nelson, chair of the Senate Health and Human Services Committee, said during a hearing earlier this year.
        </p>
        <p>
        But with enrollment numbers down and fewer women obtaining state-financed reproductive health services, some are warning against making yet another round of changes to Texas&rsquo; women&rsquo;s health system. Others argue that no amount of streamlining will mitigate the effects of losing Planned Parenthood as a major provider of these types of state services. The organization — which is widely opposed by Republican leaders — was already prohibited from performing abortions at Texas clinics receiving taxpayer dollars for women&rsquo;s health care.</p>
        <p>
        &ldquo;I&rsquo;m concerned about looking at any streamlining before we&rsquo;ve had an opportunity to get the new programs up and running in a way that mimics the kinds of successes we were seeing with the previous programs,&rdquo; said State Representative Donna Howard, Democrat of Austin.
        </p>
        <p>
        Today, there are six programs that primarily provide health services to poor Texas women. Ms. Nelson has said she wants to streamline or consolidate them to create a &ldquo;seamless women&rsquo;s health system.&rdquo; She has hinted at accomplishing that through the state&rsquo;s Sunset review process, which allows lawmakers to periodically make sweeping changes to state agencies and programs to improve their efficiency. Ms. Nelson chairs the Sunset Advisory Commission.
        </p>
        <p>
        But Democrats suggest that Republican state leaders created this problem for themselves when they dismantled an already streamlined system through the 2011 family planning cuts, which led to the closure of 76 women&rsquo;s health clinics statewide — a third of them Planned Parenthood clinics.</p>
        <p>Because of Republican lawmakers&rsquo; decision that same year to oust Planned Parenthood from the joint state-federal Medicaid Women&rsquo;s Health Program, the state also lost a $9-to-$1 match from the federal government. State health officials relaunched the program as the state-financed Texas Women&rsquo;s Health Program.</p>
      </div>
      <!-- Media: Small block quote LEFT; Big block image RIGHT -->
      <div class="media">
        <!-- Block Quote -->
        <div class="small-block block-text">
          <h2>&ldquo;A woman shouldn&rsquo;t have to sort through the different program requirements to figure out which one might work for her.&rdquo;</h2>
          <p>&mdash; Stephanie Goodman, Health and Human Services Commission spokeswoman</p>
        </div>
        <!-- Image -->
        <div class="big-block">
          <img src="http://apps.texastribune.org/politics-of-prevention/images/Prevention-short-6.jpg" alt="Medical staff check on patients at the People's Community Clinic in Austin, which provides state-subsidized women's health services to low-income women, on July 15, 2014. Photo by Callie Richmond.">
          <p class="caption">Medical staff check on patients at the People's Community Clinic in Austin, which provides state-subsidized women's health services to low-income women, on July 15, 2014. Photo by Callie Richmond.</p>
        </div>
      </div>
      <div class="prose">
        <p>Lawmakers revisited family planning financing in the 2013 legislative session, after the Texas Health and Human Services Commission estimated that an additional 24,000 babies would be born from unintended pregnancies during the 2014-15 biennium as a result of the budget cuts, at a cost to the state of more than $100 million. Lawmakers passed an unprecedented financial package for women&rsquo;s health, totaling $240.1 million in the 2014-15 budget, up from $127.3 million in the biennium following the cuts — and $201.4 million in the biennium before the cuts. </p>
        <p>But instead of fully restoring the state&rsquo;s shrunken family planning services, lawmakers allotted $100 million toward an expanded primary health care program, billed as covering treatment for &ldquo;more comprehensive health problems.&rdquo; </p>
        <p>While the health commission has not received any specific directives from lawmakers, agency spokeswoman Stephanie Goodman said it has identified areas for improvement in its women&rsquo;s health services, including easing requirements for providers to participate in the state&rsquo;s programs or creating &ldquo;one front door&rdquo; for all services.</p>
        <p>That would mean women enrolled in state-subsidized health programs could get all of the services they need from a single provider, as opposed to hopping from clinic to clinic to get different types of care. </p>
        <p>&ldquo;A woman shouldn&rsquo;t have to sort through the different program requirements to figure out which one might work for her,&rdquo; Ms. Goodman said.</p>
        <p>In a report to the state&rsquo;s Sunset Advisory Commission, the health commission also said it could improve the efficiency of the Texas Women&rsquo;s Health Program if the agency turned it over to the Texas Department of State Health Services, which already oversees most of Texas&rsquo; women&rsquo;s health services. </p>
        <p>But the Texas Women&rsquo;s Healthcare Coalition — a group of 39 medical trade associations and community-based organizations that promote access to preventive care — is asking lawmakers to slow down. They say they do not want any more big changes to women&rsquo;s health services in Texas until there has been a review of the current structure&rsquo;s efficacy.</p>
        <p>&ldquo;We have mentioned in discussions that it would make more sense to look at studying things rather than changing them,&rdquo; said Dr. Janet Realini, the coalition&rsquo;s former chairwoman and a current member of its steering committee.</p>
              <!-- Full-size block quote -->
        <div class="block-text">
          <h2>&ldquo;It&rsquo;s going to take a tremendous amount of time, a tremendous amount of infrastructure building and resources that I don&rsquo;t think the state had thought about when they dismantled these programs.&rdquo;</h2>
          <p>&mdash; Yvonne Gutierrez, executive director of Planned Parenthood Texas Votes</p>
        </div>
        <p>The coalition estimates that there are more than 1 million Texas women seeking state-subsidized women&rsquo;s health services. The current women&rsquo;s health system and budget only meet a third of the state&rsquo;s needs, Dr. Realini said.</p>
        <p>The Sunset Advisory Commission staff is expected to release its report and recommendations on women&rsquo;s health services in October, and legislators on the Sunset Commission will suggest their own proposed changes to the state&rsquo;s women&rsquo;s health programs later this year. They will then have to take them to the full Legislature, which convenes in January 2015.</p>
        <p>Sarah Kirkle, project manager for the pending review, said Sunset staff had not received any directives from legislators regarding possible changes to the current women&rsquo;s health system. But she said they are aware of legislators&rsquo; concerns over how services are currently administered.</p>
        <p>Ms. Kirkle added that lawmakers could alter the system&rsquo;s structure by way of legislation in the upcoming session even if Sunset staff does not propose any changes.</p>
        <p>Regardless of what changes are proposed, Planned Parenthood will not be brought back under the state-financed women&rsquo;s health umbrella anytime soon, which opponents of abortion in Texas support.</p>
        <p>But without Planned Parenthood as a women&rsquo;s health provider, Yvonne Gutierrez, executive director of the Planned Parenthood Texas Votes advocacy group, said lawmakers&rsquo; efforts to improve the &ldquo;tragic&rdquo; dismantling of a successful 40-year-old system would be an exercise in futility. She said there are simply not enough providers to make up for the loss of Planned Parenthood clinics. </p>
        <p>&ldquo;It&rsquo;s going to take a tremendous amount of time, a tremendous amount of infrastructure building and resources that I don&rsquo;t think the state had thought about when they dismantled these programs,&rdquo; Ms. Gutierrez said.</p>
      </div>
      <div class="media">
        <!-- Image -->
          <img src="http://apps.texastribune.org/politics-of-prevention/images/Prevention-wide-7.jpg" alt="Patients wait to be seen at the People's Community Clinic in Austin, which provides state-subsidized women's health services to low-income women, on July 15, 2014. Photo by Callie Richmond.">
          <p class="caption">Patients wait to be seen at the People's Community Clinic in Austin, which provides state-subsidized women's health services to low-income women, on July 15, 2014. Photo by Callie Richmond.</p>
      </div>
      <div class="prose">
        <p>Many hospitals have rules that could prohibit them from granting privileges to doctors who perform abortions. Hagstrom Miller said hospital administrators have expressed concern that Texas could ban a hospital from participating in other state programs if it granted privileges to such doctors.</p>
        <p>Opponents of the abortion law say that it would take most providers more than a year to build ambulatory surgical centers to perform abortions.</p>
        <p>&ldquo;You can&rsquo;t just do a few renovations and convert a facility that is already existing,&rdquo; said Melaney Linton, president and chief executive officer of <a title="" href="http://www.plannedparenthood.org/gulf-coast/">Planned Parenthood Gulf Coast</a>, which serves parts of East Texas and Louisiana.</p>
        <p>After Texas approved a law in 2003 requiring abortions 16 weeks after fertilization to be performed in ambulatory surgical centers, Planned Parenthood Gulf Coast determined it would cost in the seven figures to retrofit its main facility in Houston. It took the organization six years to raise financing and build the Houston ambulatory surgical center it operates.</p>
        <p>&ldquo;For six years we could not provide women who need that service that care,&rdquo; Linton said. &ldquo;It&rsquo;s heartbreaking, because women who need to end a pregnancy after 16 weeks are often in some of the most extreme circumstances.&rdquo;</p>
        <p>Tolmasoff said her experience has motivated her to become more politically active.</p>
        <p>&ldquo;You want to tune the politics out,&rdquo; she said, &ldquo;but when they really start affecting you, you have to listen.&rdquo;</p>
        <p><em>This story was produced with the support of the Dennis A. Hunt Fund for Health Journalism, a program of the USC Annenberg School of Journalism's California Endowment for Health Journalism Fellowships, and in partnership with <a href="http://www.kaiserhealthnews.org/">Kaiser Health News</a>, an editorially independent program of the Henry J. Kaiser Family Foundation, a nonprofit, nonpartisan health policy research and communication organization not affiliated with Kaiser Permanente.</em></p>
      </div> 
      <div class="about">
          <h3>ABOUT</h3>
          <p class="about-desc">As a 2014 national fellow, Becca Aaronson spent a year investigating and reporting on the impact of state policies on Texas womens' access to public health programs across Texas with the support of the Dennis A. Hunt Fund for Health Journalism, a program of the USC Annenberg School of Journalism's California Endowment for Health Journalism Fellowships, and in collaboration with her Tribune colleagues, Alexa Ura and Ryan Murphy. This is a reproduction of some of those reports. Read the entire <a href="http://www.texastribune.org/series/politics-of-prevention/">Politics of Prevention</a> series, which was also produced in partnership with <a href="http://www.kaiserhealthnews.org/">Kaiser Health News</a>, an editorially independent program of the Henry J. Kaiser Family Foundation, a nonprofit, nonpartisan health policy research and communication organization not affiliated with Kaiser Permanente.</p>
          <h3>Contributors</h3>
          <ul>
            <li>
              <p><strong><a href="mailto:baaronson@texastribune.org">Becca Aaronson</a></strong></p>
              <p class="handle">Reporter, News Apps Developer | <a href="https://twitter.com/becca_aa" target="_blank">@becca_aa</a></p>
            </li>
            <li>
              <p><strong><a href="mailto:rmurphy@texastribune.org">Ryan Murphy</a></strong></p>
              <p class="handle">News Apps Team Lead | <a href="https://twitter.com/rdmurphy" target="_blank">@rdmurphy</a></p>
            </li>
            <li>
              <p><strong><a href="mailto:aura@texastribune.org">Alexa Ura</a></strong></p>
              <p class="handle">Reporter | <a href="https://twitter.com/alexazura" target="_blank">@alexazura</a></p>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="footer-container">
  <div>
    <a href="https://twitter.com/newsapps"><img class="logo" src="//s3.amazonaws.com/apps.texastribune.org/branding/TxTrib-NewsApps-yellow.svg" alt="Texas Tribune News Apps logo, links to News Apps' Twitter account"></a>
  </div>
  <div>
    <ul>
      <li><a href="http://www.facebook.com/texastribune"><i class="icon fa-facebook-square"></i>Facebook</a></li>
      <li><a href="http://twitter.com/TexasTribune"><i class="icon fa-twitter-square"></i>Twitter</a></li>
      <li><a href="http://www.youtube.com/user/thetexastribune"><i class="icon fa-youtube-play"></i>YouTube</a></li>
      <li><a href="http://instagram.com/texas_tribune"><i class="icon fa-instagram"></i>Instagram</a></li>
      <li><a href="http://www.linkedin.com/company/texas-tribune"><i class="icon fa-linkedin-square"></i>LinkedIn</a></li>
    </ul>
  </div>
  <div class="internal-links">
    <ul>
    <li><a href="http://www.texastribune.org/about/">About Us</a></li>
    <li><a href="http://www.texastribune.org/support-us/donors-and-members/">Who Funds Us?</a></li>
    <li><a href="http://www.texastribune.org/terms-of-service/">Terms of Service</a></li>
    <li><a href="http://www.texastribune.org/ethics/">Code of Ethics</a></li>
    <li><a href="http://www.texastribune.org/privacy/">Privacy Policy</a></li>
    <li><a href="http://www.texastribune.org/corrections/">Corrections</a></li>
    <li><a href="https://www.texastribune.org/join/">Donate</a></li>
  </ul>
  </div>
  <div class="donate">
    <ul>
      <li>Nonpartisan.</li>
      <li>Nonprofit.</li>
      <li>Statewide.</li>
      <a href="https://www.texastribune.org/join/"><li>Join Us</li></a>
    </ul>
  </div>
  </div>
</footer>
<script type="text/template" id="popup-template">
  <div class="popup-container">
    <header class="popup-name">
      <h1>Providers: <%= PNTCNT %></h1>
    </header>
  </div>
</script>
<script type="text/template" id='table-template'>
<% _.each(items,function(model){ %>
    <tr>
      <td><strong>Enrollment</strong></td><td><%= model.Enrollment %></td>
    </tr>
    <tr>
      <td><strong>Annual Funding</strong></td><td><%= model.Funding %></td>
    </tr>
    <tr>
      <td><strong>Eligibility requirements</strong></td><td><%= model.Eligibility %></td>
    </tr>
    <tr>
      <td><strong>Types of covered services</strong></td><td><%= model.Services %></td>
    </tr>
<% }); %>
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
<script src="scripts/mapSwitcher.js"></script>
<!-- build:js scripts/main.js -->
<script src="../bower_components/modernizr/modernizr.js"></script>
<script src="scripts/jquery.fitvids.js"></script>
<script src="scripts/script.js"></script>
<!-- endbuild -->
</body>
</html>