<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]>      <html class="no-js" lang="en"> <![endif]-->
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="https://s3.amazonaws.com/static.texastribune.org/common/images/favicon.ico">
  <title>The Texas Tribune: Politics of Prevention</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="The Texas Tribune"/>
  <meta name="copyright" content="&copy; The Texas Tribune"/>
  <meta name="language" content="EN"/>
  <meta name="audience" content="All"/>
  <meta name="publisher" content="The Texas Tribune"/>
  <meta name="distribution" content="global"/>
  <meta name="robots" content="index,follow"/>
  <meta name="siteinfo" content="robots.txt"/>
  <meta name="description" content="The Politics of Prevention: An occasional series on the impact of state politics on Texas women's access to health care.">
  <meta property="og:site_name" content="The Texas Tribune">
  <meta property="og:description" content="The Politics of Prevention: An occasional series on the impact of state politics on Texas women's access to health care.">
  <meta property="og:title" content="The Texas Tribune: Politics of Prevention">
  <meta property="og:url" content="http://apps.texastribune.org/hurting-for-work/">
  <meta property="og:image" content="http://s3.amazonaws.com/static.texastribune.org/media/images/2013/09/13/PoliticsOfPrevention-B_jpg_635x1000_q100.jpg">
  <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.6.0/mapbox.css' rel='stylesheet' />
    <link rel="stylesheet" href="//s3.amazonaws.com/cdn.texastribune.org/lib/tablesift/0.0.7/tablesift.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- build:css ../styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../../bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) ../styles/main.css -->
    <link rel="stylesheet" href="../styles/app.css">
    <!-- endbuild -->
    <script>

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9827490-1']);
      _gaq.push(['_setDomainName', 'texastribune.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body ontouchstart="">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<div class="container">
  <header class="masthead">
    <div class="branding">
      <a href="http://www.texastribune.org/">
        <img class="trib-logo" alt="The Texas Tribune" src="//s3.amazonaws.com/apps.texastribune.org/branding/TxTrib-logo-white500x55.png">
      </a>
    </div>
  </header>
  <div class="banner-wrapper">
    <div class="banner">
      <div class="grand-header-image"></div>
      <header class="grand-header content-block">
        <h1><a href="/">The Politics of Prevention</a></h1>
        <h2>An occasional series on the effects of state policies on Texas women's health care.</h2>
            <!-- Static navigation bar -->
          <div id="nav-bar" class="nav-bar">
            <ul>
              <li>
                <a href="/politics-of-prevention/new-limits-more-money">
                  <div class="nav-link">
                    New Limits, More Money
                  </div>
                </a>
              </li>
              <li class="selected">
                <a href="/politics-of-prevention/little-danger-at-clinics">
                  <div class="nav-link">
                    Little Evidence
                  </div>
                </a>
              </li>
              <li>
                <a href="/politics-of-prevention/falling-claims">
                  <div class="nav-link">
                    A Political Gamble
                  </div>
                </a>
              </li>
              <li>
                <a href="/politics-of-prevention">
                  <div class="nav-link">
                    What's Next
                  </div>
                </a>
              </li>
            </ul>
          </div>
      </header>
    </div>
  </div>
  <!-- Main body -->
  <div class="story-wrapper">
    <!-- Story Body -->
    <div class="story-container">
      <h1>In State Records, Little Evidence to Back Abortion Law</h1>
      <p class="byline">By <a href="http://www.texastribune.org/about/staff/becca-aaronson/">Becca Aaronson</a> | September 15, 2013</p>
      <div class="prose">
        <!-- "prose" sets 8-column width on desktop -->
        <div class="shareline">
          <h3>SHARELINES</h3>
          <ul>
            <li>
              <a href="https://twitter.com/home?status=What%20politicians%20don't%20say%20about%20TX%20Miracle:%20TX%20leads%20in%20worker%20fatalities%20and%20workers%20have%20few%20protections.%20http://trib.it/1q5Y4Vr" title="share on Twitter" class="social-share" target="_blank">
              <i class="fa fa-twitter"></i>
              </a>
              <a href="http://www.facebook.com/sharer.php?u=http%3A//trib.it/1q5Y4Vr" title="share on Facebook" class="social-share" target="_blank">
              <i class="fa fa-facebook"></i>
              </a>
              <p>The Politics of Prevention: How Texas politics have impacted women's access to care.</p>
            </li>
            <li>
              <a href="https://twitter.com/home?status=For%20many%20injured%20Texas%20workers,%20the%20promised%20benefits%20of%20workers%E2%80%99%20comp%20never%20materialize.%20http://trib.it/1q5Y4Vr" title="share on Twitter" class="social-share" target="_blank">
              <i class="fa fa-twitter"></i>
              </a>
              <a href="http://www.facebook.com/sharer.php?u=http%3A//trib.it/1q5Y4Vr" title="share on Facebook" class="social-share" target="_blank">
              <i class="fa fa-facebook"></i>
              </a>
              <p>Check out Texas Tribune's series on how state politics have impacted women's access to health care.</p>
            </li>
          </ul>
        </div>
        <p>In their successful push this summer for strict new regulations on abortion facilities and the doctors performing them, proponents of the legislation said it was needed because conditions at existing facilities made it unsafe for women seeking to terminate pregnancies.</p>
        <p>But a Texas Tribune review of state inspection records for 36 abortion clinics from the year preceding the lawmakers&rsquo; vote turned up little evidence to suggest the facilities were putting patients in imminent danger. State auditors identified 19 regulatory violations that they said presented a risk to patient safety at six abortion clinics&nbsp;that are not ambulatory surgical centers in Texas. None was severe enough to warrant financial penalties, according to the Department of State Health Services, which deemed the facilities&rsquo; corrective action plans sufficient to protect patients.</p>
        <p>And between 2008 and 2013, the Texas Medical Board, which regulates the state&rsquo;s physicians, took action against just three doctors who performed abortions &mdash;&nbsp;all of them for administrative infractions that did not involve criminal practices or late-term abortions.</p>
      </div>
              <!-- Media: BIG IMAGE -->
      <div class="media">
        <img src="http://apps.texastribune.org/politics-of-prevention/images/Prevention-wide-2.jpg" alt="Crowds gather in the state Capitol rotunda while Sen. Wendy Davis, D-Fort Worth, filibusters anti-abortion regulations on June 25, 2013. Photo by Todd Wiseman.">
        <p class="caption">Crowds gather in the state Capitol rotunda while Sen. Wendy Davis, D-Fort Worth, filibusters anti-abortion regulations on June 25, 2013. Photo by Todd Wiseman.</p>
      </div>
      <div class="prose">
        <p>&ldquo;The point of this legislation was to make abortion inaccessible. It wasn&rsquo;t about safety,&rdquo; said Amy Hagstrom Miller, chief executive officer of Whole Woman&rsquo;s Health, which operates four abortion clinics and an ambulatory surgical center in Texas. &ldquo;Because there is no safety problem around abortion in Texas.&rdquo;</p>
        <p>Abortion opponents vehemently disagree. They say the fact that more clinics and doctors have not been penalized only signals the need for tougher restrictions. They successfully convinced state lawmakers of that during the last legislative session: Beginning Oct. 29, Texas will ban all abortions after 20 weeks gestation and require abortion facilities to have a physician with active admitting privileges at a hospital within 30 miles. A year from now, additional rules will take effect requiring abortion facilities to meet the structural guidelines for ambulatory surgical centers &mdash; which include wider hallways and pre-operative and post-operative waiting rooms.&nbsp;</p>
        <p>Emily Horne, a lobbyist for the anti-abortion group Texas Right to Life, said the conditions auditors found in the last year could have easily led to women getting sick or injured, and that it is a &ldquo;lower standard of care&rdquo; if inspectors &ldquo;find these problems and do nothing about them.&rdquo;</p>
        <p>&ldquo;The clinics need to be safer,&rdquo; she said. &ldquo;You can&rsquo;t advocate for more abortion that is unsafe.&rdquo;</p>
        <p>Among the violations auditors found at the facilities, which get surprise inspections annually, were expired or unlabeled medicine, and instances in which medical staff failed to follow proper infection control procedures. In one case, auditors found that a sterilization machine was not working properly and that nurses were not trained to recognize the problem. On another occasion, auditors reported that a patient with a bleeding complication was transferred to a hospital in a private car instead of by ambulance.</p>
        <p>Most of the violations auditors found were at a Whole Woman&rsquo;s Health facility in Beaumont, which took immediate steps to remedy the problems and had its correction plan accepted by the state.</p>
      </div>
      <div class="media">
        <div class="big-block">
          <div class="map" id="map"></div>
        </div>
        <div class="small-block">
          <p class="data-subheader">This interactive map shows the inspection records for each facility reviewd by the Tribune for this investigation. Since this interactive map was <a href="https://www.texastribune.org/library/data/abortion-facility-safety-records/">published</a> in September 2013, additional abortion facilities have closed.</em></p>
          <div>
            <div class="legend-scale">
                <ul class="legend-scale">
                    <li><span style="background:rgb(27, 158, 119);"></span>Open Facility</li>
                    <li><span style="background:rgb(217, 95, 2);"></span>Closed Facility</li>
                    <li><span style="background:rgb(117, 112, 179);"></span>Facility No Longer Performs Abortions</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="prose">
        <p>A health department spokeswoman could not say any of the violations were linked to patient complications, citing confidentiality rules.</p>
        <p>But state health officials have not shied away from making Texas abortion facilities pay for their shortcomings. In 2010, they levied a $119,000 fine against Planned Parenthood Trust of South Texas for failing to acquire licenses for three facilities that began prescribing abortion-inducing drugs in 2005.</p>
        <p>Planned Parenthood spokeswoman Mara Posada said the organization was under the impression that it did not have to obtain licenses for those facilities because surgical abortions were not performed there &mdash;&nbsp;and the organization did have a license for the facility that offered them.</p>
        <p>The state also levied several smaller fines &mdash;&nbsp;ranging from $200 to $500 &mdash;&nbsp;against clinics that failed to post their licensure numbers on their websites, misreported the age of gestation or failed to return a corrective action plan on time, among other violations.&nbsp;</p>
        <p>Although most of state&rsquo;s recent inspection findings point to administrative errors as opposed to medical ones, abortion opponents have not been deterred.</p>
        <p>One group, Operation Rescue, <a href="http://www.texastribune.org/2013/05/15/dewhurst-calls-investigation-abortion-provider/">has accused a Houston doctor</a> of performing illegal, late-term abortions as recently as 2011. Harris County officials and the Department of State Health Services are still investigating those allegations, but previous inspection reports have revealed no violations that presented a safety risk.</p>
      </div>
      <div class="media">
                <!-- Image -->
        <div class="big-block">
          <img src="http://apps.texastribune.org/politics-of-prevention/images/Prevention-short-4.jpg" alt="Anti-abortion advocate prays at the state Capitol while Sen. Wendy Davis, D-Fort Worth, filibusters anti-abortion regulations on June 25, 2013. Photo by Todd Wiseman.">
          <p class="caption">Anti-abortion advocate prays at the state Capitol while Sen. Wendy Davis, D-Fort Worth, filibusters anti-abortion regulations on June 25, 2013. Photo by Todd Wiseman.</p>
        </div>
                <!-- Block Quote -->
        <div class="small-block block-text">
          <h2>&ldquo;The goal of the bill is to improve patient safety for the woman and the child.&rdquo;</h2>
          <p>&mdash; Emily Horne, Texas Right to Life</p>
        </div>
      </div>
      <div class="prose">
        <p>Abortion rights advocates say that even if the investigation uncovers wrongdoing, the doctor was operating an ambulatory surgical center that would have met the requirements of the new law. They and medical experts argue that the new regulations will lead to the closure of the majority of the state&rsquo;s legal abortion providers, resulting in more women seeking out dangerous, illegal options.</p>
        <p>Since January, nine abortion clinics have shut their doors and another facility has stopped performing abortions.&nbsp;Two of those that closed were Planned Parenthood clinics that operated until this month<span>; state auditors found no violations at those two clinics in their last inspections. Only six of the state&rsquo;s&nbsp;</span>remaining&nbsp;38<span>&nbsp;abortion facilities currently meet the structural requirements of ambulatory surgical centers, and it is unclear how many have a physician with hospital admitting privileges.&nbsp;</span></p>
        <p>Hagstrom Miller said that under the new law, abortion facilities will be forced to meet even higher standards than ambulatory surgical centers. They will still be inspected annually, while ambulatory surgical centers are only inspected every three years. And doctors at abortion facilities will be required to have active hospital admitting privileges, while ambulatory surgical centers must only have a patient-transfer agreement with a hospital.</p>
        <p>&ldquo;It&rsquo;s going to increase the danger for women,&rdquo; she said, &ldquo;because they&rsquo;re not going to be able to get safe abortion close to their homes.&rdquo;&nbsp;</p>
        <p>Horne said the ambulatory surgical center requirements, which also include more medical staff hours, would ensure that abortion facilities are &ldquo;more equipped to deal with an emergency evacuation if it&rsquo;s needed.&rdquo;<strong>&nbsp;</strong></p>
        <p>Requiring doctors to have active hospital privileges would guarantee that their credentials are peer-reviewed, she added, and improve oversight of abortion procedures and continuity of care for patients who experience complications.</p>
        <p>&ldquo;The goal of the bill is to improve patient safety for the woman and the child,&rdquo; Horne said.</p>
              <!-- lead video -->
        <iframe width="560" height="315" src="//www.youtube.com/embed/WT76hBEYdRg" frameborder="0" allowfullscreen></iframe>
        <p><em>(Marni Evans and her fiance, John Lockhart, had to delay a scheduled abortion after a decision by the 5th Circuit Court of Appeals allowed Texas to implement strict new regulations on the procedure. Originally published Nov. 3, 2013.)</em></p>
        <p>Between 2000 and 2010, five women died in Texas from abortion-related complications; the most recent death occurred in 2008. More than 865,300 abortions were performed during that time period, making Texas&rsquo; abortion-related death rate, 0.57 deaths per 100,000 abortions, slightly lower than the national abortion death rate of 0.7 per 100,000.</p>
        <p>Abortion rights advocates say that is 14 times lower than the risk associated with carrying a pregnancy to term; opponents argue that every abortion comes with a terrible cost, the death of a baby.</p>
        <p>During his research on the impact of Texas&rsquo; 2011 family planning financing cuts, Dr. Daniel Grossman, a principal investigator on the University of Texas at Austin&rsquo;s Texas Public Policy Evaluation Project, said he found no evidence that Texas&rsquo; licensed abortion facilities had unsafe conditions. The one safety issue he has identified is the practice of abortion self-induction &mdash;&nbsp;where women without easy access to abortion clinics try to terminate the pregnancy themselves.</p>
        <p>&ldquo;This additional burden is just going to be too much for some women,&rdquo; Grossman said. &ldquo;I think it&rsquo;s very, very likely that abortion self-induction is going to go up and that&rsquo;s definitely going to be bad for women&rsquo;s health.&rdquo;</p>
        <p>Seven percent of women whom the researchers surveyed at abortion facilities in Texas attempted self-induction before going to the abortion facility. That rate was higher, 12 percent, in cities along the Texas-Mexico border. In comparison, a 2010 research <a href="http://www.ajog.org/article/S0002-9378(10)01008-2/fulltext">article</a> published in the <em>American Journal of Obstetrics &amp; Gynecology</em> found 1.2 percent of women surveyed at abortion clinics nationally tried to self-induce an abortion.</p>
        <p>The researchers identified 76 family planning clinics that closed since 2011 because of lost state financing, and 45 percent of women surveyed at abortion facilities said they were unable to access their contraception of choice in the three months before becoming pregnant.</p>
        <p>&ldquo;These abortion restrictions are going into place at a time when the whole family planning safety net really has been completely dismantled,&rdquo; said Grossman. &ldquo;In the middle of that, now women are going to find it harder and harder to access abortion.&rdquo;</p>
      </div>
      <div class="about">
          <h3>ABOUT</h3>
          <p class="about-desc">As a 2014 national fellow, Becca Aaronson spent a year investigating and reporting on the impact of state policies on Texas womens' access to public health programs across Texas with the support of the Dennis A. Hunt Fund for Health Journalism, a program of the USC Annenberg School of Journalism's California Endowment for Health Journalism Fellowships, and in collaboration with her Tribune colleagues, Alexa Ura and Ryan Murphy. This is a reproduction of some of those reports. Read the entire <a href="http://www.texastribune.org/series/politics-of-prevention/">Politics of Prevention</a> series, which was also produced in partnership with <a href="http://www.kaiserhealthnews.org/">Kaiser Health News</a>, an editorially independent program of the Henry J. Kaiser Family Foundation, a nonprofit, nonpartisan health policy research and communication organization not affiliated with Kaiser Permanente.</p>
          <h3>Contributors</h3>
          <ul>
            <li>
              <p><strong><a href="mailto:baaronson@texastribune.org">Becca Aaronson</a></strong></p>
              <p class="handle">Reporter, News Apps Developer | <a href="https://twitter.com/becca_aa" target="_blank">@becca_aa</a></p>
            </li>
            <li>
              <p><strong><a href="mailto:rmurphy@texastribune.org">Ryan Murphy</a></strong></p>
              <p class="handle">News Apps Team Lead | <a href="https://twitter.com/rdmurphy" target="_blank">@rdmurphy</a></p>
            </li>
            <li>
              <p><strong><a href="mailto:aura@texastribune.org">Alexa Ura</a></strong></p>
              <p class="handle">Reporter | <a href="https://twitter.com/alexazura" target="_blank">@alexazura</a></p>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
<div class="footer-container">
<div>
  <a href="https://twitter.com/newsapps"><img class="logo" src="//s3.amazonaws.com/apps.texastribune.org/branding/TxTrib-NewsApps-yellow.svg" alt="Texas Tribune News Apps logo, links to News Apps' Twitter account"></a>
</div>
<div>
  <ul>
    <li><a href="http://www.facebook.com/texastribune"><i class="icon fa-facebook-square"></i>Facebook</a></li>
    <li><a href="http://twitter.com/TexasTribune"><i class="icon fa-twitter-square"></i>Twitter</a></li>
    <li><a href="http://www.youtube.com/user/thetexastribune"><i class="icon fa-youtube-play"></i>YouTube</a></li>
    <li><a href="http://instagram.com/texas_tribune"><i class="icon fa-instagram"></i>Instagram</a></li>
    <li><a href="http://www.linkedin.com/company/texas-tribune"><i class="icon fa-linkedin-square"></i>LinkedIn</a></li>
  </ul>
</div>
<div class="internal-links">
  <ul>
  <li><a href="http://www.texastribune.org/about/">About Us</a></li>
  <li><a href="http://www.texastribune.org/support-us/donors-and-members/">Who Funds Us?</a></li>
  <li><a href="http://www.texastribune.org/terms-of-service/">Terms of Service</a></li>
  <li><a href="http://www.texastribune.org/ethics/">Code of Ethics</a></li>
  <li><a href="http://www.texastribune.org/privacy/">Privacy Policy</a></li>
  <li><a href="http://www.texastribune.org/corrections/">Corrections</a></li>
  <li><a href="https://www.texastribune.org/join/">Donate</a></li>
</ul>
</div>
<div class="donate">
  <ul>
    <li>Nonpartisan.</li>
    <li>Nonprofit.</li>
    <li>Statewide.</li>
    <a href="https://www.texastribune.org/join/"><li>Join Us</li></a>
  </ul>
</div>
</div>
</footer>
  <script type="text/template" id="row-template">
    <td>
      <% if(Website) { %>
        <a href="<%= Website %>"><%= Provider %></a><%
      } else { %>
        <%= Provider %>
      <% } %>
      <% if(this.model.get('loc')) {
          %>(<a href="javascript:void(0)" class="view-on-map">View on Map</a>)
      <% } %>
    </td>
    <td><%= City %></td>
    <td><%= ACS %></td>
    <td><%= ClosedClosing %></td>
    <td>
      <% if(DocCloudURL) {
        %><a href="<%= DocCloudURL %>" target="_blank"><%= SurveyDate %></a>
      <% } else { %>
        <%= SurveyDate %>
      <% } %>

    </td>
  </script>

  <script type="text/template" id="popup-template">
    <div class="popup-container">
      <p class="popup-name"><%= Provider %> (<%= City %>)</p>
      <ul>
        <li><span class="popup-leader">Meets New Building Requirements: </span> <%= ACS %></li>
        <li><span class="popup-leader">Status: </span> <%= ClosedClosing %></li>
        <li><span class="popup-leader">Last Inspection: </span> <%= SurveyDate %> <% if(DocCloudURL) { %>(<a href="<%= DocCloudURL %>" target="_blank">View Record</a>) <% } %></li>
      <ul>
    </div>
  </script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
<script src='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
<script src="//s3.amazonaws.com/cdn.texastribune.org/lib/tablesift/0.0.7/tablesift.underscore.min.js"></script>
<script src="//s3.amazonaws.com/static.texastribune.org/data/abortion-clinic-inspections/data.js"></script>
<script src="../scripts/scriptTwo.js"></script>
<!-- build:js ../scripts/main.js -->
<script src="../../bower_components/modernizr/modernizr.js"></script>
<script src="../scripts/jquery.fitvids.js"></script>
<script src="../scripts/script.js"></script>
<!-- endbuild -->
</body>
</html>
